:root {
  --main: #6B7D7D;
  --cards: #D7DAE5;
  --navbar-text: wheat;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: raleway;
}

.action {
  background: transparent;
  padding: 10px 20px;
  border: 2px solid var(--main);
  background: var(--main);
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
  color: var(--navbar-text);
  cursor: pointer;
}